<div class="row">
    <section class="col-lg-7">
        <category-component [vocabolaries]="vocabolaries"></category-component>
    </section>
    <section class="col-lg-5">
        <div *ngIf="listDate; else loading"></div>
        <sl-calendar [selectedDates]="listDate"
                     (onSelectDate)="checkEvent($event)"
                     (onChangeMonth)="getTasks2($event)"
                     (onChangeYear)="getTasks2($event)"
        ></sl-calendar>

        <tasks-component [tasks]="tasks" (onUpdateTask)="listVocabularies()"
                                         (onDeleteTask)="ngOnInit()"
        ></tasks-component>

        <ng-template #loading>Loading Calendar...</ng-template>
    </section>
</div>



