<!-- TO DO List -->
<div class="box box-success" style="position: relative; left: 0px; top: 0px;">
    <div class="box-header">
        <i class="ion ion-clipboard"></i>
        <h3 class="box-title">List Categories tasks</h3>
    </div>
    <!-- /.box-header -->
    <div class="box-body">
        <!-- /.box-body -->
        <div class="box-footer text-black" style="">
            <div class="row" *ngFor="let voc of vocabolaries">
                <div *ngFor="let c of voc.categories">

                    <div class="clearfix">
                        <span class="pull-left">{{ c.name + " #"+ c.id }}</span>
                        <small class="pull-right"></small>
                    </div>
                    <div class="progress xs">
                        <div class="progress-bar"></div>
                    </div>

                </div>
            </div>
            <!-- /.row -->
        </div>
    </div>
</div>
<!-- /.box -->
